@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;800&display=swap');
@import '../../node_modules/normalize.css/normalize';

%raleway-400 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

%raleway-500 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

%raleway-600 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

%raleway-800 {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  resize: none;
  outline: none;
  text-decoration: none;
  @extend %raleway-400;
  color: #1E1C21;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1440px;
  height: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  text-align: center;
  margin-bottom: 15px;
  font-size: 25px;
  @extend %raleway-600;
}

.header {
  background: linear-gradient(to top, #F7F7F8, #EDEDEE, #F7F7F8);
  &__titles {
    display: grid;
    grid-template-columns: repeat(4, 2.5fr);
  }
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    padding: 0 10px;
  }
}

.nav {
  border-bottom: 1px solid #1E1C21;
}

.rows {
  display: flex;
  flex-direction: column;
  background-color: #F8F8F8;
  position: relative;
}

.row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 2.5fr);
  padding: 15px 10px;
  &:hover {
    background-color: #E3E3E3;
  }
  &:not(:last-child) {
    border-bottom: 1px solid #EEEEF0;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  &__block {
    margin: 15px;
    max-width: 600px;
    min-height: 300px;
    border-radius: 3px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2.5fr 5fr 2.5fr;
    &-item {
      &:last-child {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F9F9F9;
      }
    }
  }
  &__title {
    height: 100%;
    color: #fff;
    background-color: #DD4343;
    padding: 10px;
    display: flex;
    align-items: center;
    @extend %raleway-600;
  }
  &__desc {
    padding: 10px;
    @extend %raleway-400;
    width: 100%;
    height: 100%;
  }
  &__btn {
    margin: 0 10px 0 auto;
    cursor: pointer;
    border: 1px solid #DDDDDD;
    min-width: 120px;
    height: 40px;
  }
}

.preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.anim-circle {
  transform-origin: center;
  animation: rotate-circle 1s infinite alternate;
  stroke-dasharray: 200;
}

@keyframes rotate-circle {
  0% {
    transform: rotateZ(0deg);
    stroke-dashoffset: 200;
  }
  100% {
    transform: rotateZ(360deg);
    stroke-dashoffset: 0;
  }
}

.flex {
  display: flex;
}